.inputField {
    width: 100%;
}
.trackInfoIcon {
    height: 15px;
    transform: (rotate(90deg));
}
button {
    background-image: linear-gradient(#009e98, #256f77);
}
input[type="text"], input[type="password"] {
    color: white !important;
}
textarea{
    color: white !important;
}
.validationMessage {
    color: red;
    font-size: 18px;
    text-align: left;
    height: 20px;
}
.input-file {
    width: 100%;
    height: 25px;
    opacity: 1;
    overflow: hidden;
    background-image: linear-gradient(#009e98, #256f77);
}
#q-app {
    height: 100%;
}

.registerLoginLink {
    position: fixed;
    bottom: 10px;
    
    .hereLink {
        font-weight: bold;
    }
}

.q-list {
    border: none;
}

.loginRegisterBtn {
    margin-top: 50px;
}

.registerLoginFormContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}