.inputField {
    width: 100%;
}
.trackInfoIcon {
    height: 15px;
    transform: (rotate(90deg));
}
button {
    background-image: linear-gradient(#009e98, #256f77);
}
input[type="text"], input[type="password"] {
    color: white !important;
}